.list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5%;
    padding: 1rem 1rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
    font-size: large;
}

button {
    cursor: pointer;
    border-radius: 4px;
    padding: 2px 5px;
}

.title {
    color: black;
    font-weight: bold;
}

.btn {
    margin-left: 0.5rem;
}